@import "src/assets/styles/index.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  width: calc(100% - 470px);
}

.sort-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 470px;
}

.sort-label {
  margin: 0 2rem;
  font-family: Kanit-Medium;
}

.rotate180 {
  transform: rotate(180deg);
}

@media screen and (max-width: $sm){
  .container {
    flex-direction: column;
    padding: .5rem;
  }

  .search-container {
    width: 100%;
  }

  .sort-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .sort-label {
    display: none;
  }

  ::ng-deep .mat-button-toggle-label-content {
    font-size: 12px !important;
  }
}

