@import "src/assets/styles";

.header {
  background-color: $boxNavbar;
  display: flex;
  align-items: center;
  border-left: 1px solid rgb(31, 141, 159);
  border-top: 1px solid rgb(31, 141, 159);
  padding: 0 1rem;
  font-size: 18px;
  height: 42px;
}

.content {
  padding: 2rem 1rem;
  height: calc(100% - 170px)
}

.label {
  display: flex;
  justify-content: center;
  width: 100%;
  color: $boxLabel;
}

.field {
  width: 100%;
}

.button {
  min-width: 88px;
}

.confirm-button {
  background-color: $submitButtonBg;
  color: $submitButton;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
}
