<div class="container">
  <div class="transfer mat-elevation-z8">
    <div class="box-navbar form-navbar">
      <img src="assets/icons/arrows.png" alt="arrows">
      <span class="form-navbar__label">{{'transfer.form.makeTransfer' | translate}}</span>
    </div>
    <app-transfer-form></app-transfer-form>
  </div>
  <div class="transfers-list">
    <div class="box-navbar list-navbar">
      <img src="assets/icons/briefcase.png" alt="arrows">
      <span class="form-navbar__label">{{'transfer.list.recentTransactions' | translate}}</span>
    </div>
    <div class="filters-container">
      <app-transaction-filters (onFilter)="onFilter($event)" (onSort)="onSort($event)"></app-transaction-filters>
    </div>
    <div class="list-container">
      <app-transactions-list [transactionItems]="filteredTransactions?.data"></app-transactions-list>
    </div>
  </div>
</div>
