<form [formGroup]="fg" class="form" (ngSubmit)="onSubmit()" #form="ngForm">
  <mat-label class="form__label">{{'transfer.form.fromAccount' | translate}}</mat-label>
  <mat-form-field>
    <input matInput placeholder="" formControlName="accountFrom">
  </mat-form-field>
  <mat-label class="form__label">{{'transfer.form.toAccount' | translate}}</mat-label>
  <mat-form-field>
    <input matInput placeholder="" #toAccount formControlName="accountTo">
    <button mat-button
            *ngIf="toAccount.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearInput(getFormControl('accountTo'))">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="getFormControl('accountTo').errors">
      {{getFormControl('accountTo').errors | formError}}
    </mat-error>
  </mat-form-field>
  <ng-container formGroupName="amountCurrency">
    <mat-label class="form__label">{{'transfer.form.amount' | translate}}</mat-label>
    <mat-form-field>
      <span matPrefix>{{currentCurrency?.currencySymbol}} &nbsp;</span>
      <input matInput
             #amount
             placeholder=""
             formControlName="amount"
      (focusout)="parseCurrency($event)">
      <button mat-button
              *ngIf="amount.value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearInput(getFormControl('amount','amountCurrency'))">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="getFormControl('amount','amountCurrency').errors">
        {{getFormControl('amount','amountCurrency').errors | formError}}
      </mat-error>
    </mat-form-field>
  </ng-container>


  <div class="button-container">
    <button mat-flat-button class="button">{{'transfer.form.submit' | translate}}</button>
  </div>
</form>
