$navbarBorder: rgb(218, 112, 42);
$boxNavbar: rgb(12, 131, 151);
$boxLabel: rgb(217, 235, 238);
$submitButtonBg: rgb(238, 112, 51);
$submitButton: rgb(255, 255, 255);
$white: rgb(255, 255, 255);
$listItemBorder: rgb(229, 229, 229);
